
h1, h3 {
    margin: 0;
}

body {
    font-family: system-ui;
    max-height: 100%;
    margin: 2rem;
    font-size: 10pt; /* Меняем размер шрифта для печати */
    /*font-size: clamp(1rem, calc(12px + 1vw), 14px);*/
}

header {
    display: flex;
    justify-content: space-between;
}
header p {
    margin-bottom: 0;
    margin-top: 2px;
}
header a {
    color: black;
}

.table-2-column td:nth-child(1) {
    max-width: 30%;
    word-wrap: normal;
    padding-right: 4rem;
}

.heading {
    text-transform: uppercase;
    margin-top: 1rem;
}

.justify-content {
    text-align: justify;
}

.link {
    text-decoration: none;
    color: cadetblue;
}

.company-location {
    width: 80%;
}

/*!* тут можно менять размер шрифт,а лучше один стиль и добавить к многословным абзацам  *!*/
/*p, ul, li, .link {*/
/*    font-size: clamp(1rem, calc(12px + 1vw), 14px);*/
/*}*/

.job-container {
    display: flex;
    justify-content: space-between;
}

.job-company {
    text-align: left;
}

.job-duration {
    text-align: left;
}

.job-position {
    font-weight: bold;
    margin-top: 6px;
}

section.skills ul {
    columns: 4;
}

.prof-experience-item {
    margin-top: 14px;
}

@media print {
    body {
        margin: 0;
    }
}